<div>
  <style>
    #section-dinning-detail1 .bg {
      background-color: #f1f2f5;
    }

    #section-dinning-detail1 .bg img {
      transform: scaleX(-1);
      object-position: top left;
    }

    #section-dinning-detail1 * {
      font-family: var(--ui-font-family-display);
    }

    #section-dinning-detail1-content {
      padding: var(--ui-spacing-11xl) var(--ui-spacing-xl);
      gap: var(--ui-spacing-6xl);
    }

    #section-dinning-detail1-content .left {
      height: fit-content;
    }

    #section-dinning-detail1-content .cta {
      display: flex;
      flex-direction: column;
    }

    #section-dinning-detail1-content .right {
      width: inherit;
      aspect-ratio: 1;
      height: auto;
    }

    #section-dinning-detail1-content .right img {
      width: 100%;
      height: 100%;
    }

    #section-dinning-detail1-content .cta label {
      display: none;
    }

    #section-dinning-detail1-content .cta label:first-child {
      display: flex;
    }

    @media (min-width: 768px) {
      #section-dinning-detail1 .bg img {
        transform: unset;
      }

      #section-dinning-detail1-content .left {
        height: 100%;
        justify-content: space-between;
      }

      #section-dinning-detail1-content .cta {
        flex-direction: row;
      }

      #section-dinning-detail1-content .right {
        aspect-ratio: 16/9;
        max-width: 50vw;
      }
    }
  </style>

  <section id="section-dinning-detail1" class="ui-relative ui-w-full">
    <div class="bg">
      <img
        binding-imgpath="https://static.izzi.asia/images/2026/6/8/2606088690_Pattern.png"
        src="https://static.izzi.asia/images/2026/6/8/2606088690_Pattern.png"
        alt=""
      />
    </div>

    <div
      id="section-dinning-detail1-content"
      repeat="detaildata"
      class="ui-col2-grid ui-w-full ui-w-max-breakpoint-2xl"
    >
      <div class="left ui-gap-xl ui-flex-col">
        <div class="ui-flex-col ui-gap-xl">
          <h2>{{name}}</h2>
          <p class="ui-text-justify">{{subDescription}}</p>
        </div>
        <div class="ui-gap-md cta">
          <label
            repeat="categories"
            for={{subDescription}}
            class="ui-button-primary ui-button-large ui-center"
            style="cursor: pointer"
          >
            <p binding-btntext="Đặt bàn ngay">Đặt bàn ngay</p>
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_424_816)">
                <path
                  d="M14.3331 0H5.99976V2H12.5858L0.0170898 14.5687L1.43109 15.9827L13.9998 3.414V10H15.9998V1.66667C15.9998 0.748 15.2524 0 14.3331 0Z"
                  fill="currentColor"
                />
              </g>
              <defs>
                <clipPath id="clip0_424_816">
                  <rect width="16" height="16" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </label>

          <!-- <a class="ui-button-secondary ui-button-large" binding-btnhref="#">
            <p binding-btntext="Chi tiết menu">Chi tiết menu</p>
          </a> -->
        </div>
      </div>
      <div class="right">
        <img
          src="{{images|getthumbnailbyindex:0|getPath:?mode"
          ="crop&amp;width"
          ="1600&amp;height"
          ="900}}"
          alt=""
        />
      </div>
    </div>
  </section>
</div>
