<div>
  <style>
    /* Segmented Control / Toggle Switch */
    #section-dinning-intro2 .ui-toggle-input {
      display: none;
    }

    #section-dinning-intro2 .ui-toggle-input:checked+.ui-toggle-label {
      border-radius: none;
      color: var(--ui-primary, #a78072);
      border-bottom: 1px solid currentColor;
    }

    #section-dinning-intro2 .ui-toggle-input[type="radio"] {
      display: none;
    }

    #section-dinning-intro2 .ui-toggle-input[type="radio"]:checked+#section-dinning-intro2-privilege-all {
      background-image: none;
    }

    #section-dinning-intro2 .ui-toggle-label {
      border-radius: none;
      text-align: center;
    }

    /* Filter items based on selected radio toggle */
    #section-dinning-intro2-content:has(#section-dinning-intro2-privilege-selected:checked) .item-containter:not([type="2"]) {
      display: none;
    }

    #section-dinning-intro2-content {
      padding: var(--ui-spacing-11xl) var(--ui-spacing-xl);
      gap: var(--ui-spacing-6xl);
    }

    #section-dinning-intro2-content .left {
      height: fit-content;
    }

    #section-dinning-intro2-content .left>div {
      display: grid;
      grid-template-columns: auto auto;
    }

    #section-dinning-intro2-content .right {
      position: relative;
      width: inherit;
      display: flex;
      flex-direction: column;
    }

    #section-dinning-intro2-content .item-containter {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: fit-content;
      border-radius: var(--ui-spacing-2xs);
      overflow: hidden;
      transition:
        transform 2s cubic-bezier(0.16, 1, 0.3, 1),
        opacity 0.6s ease,
        filter 2s cubic-bezier(0.16, 1, 0.3, 1);
      will-change: transform, opacity, filter;
      cursor: pointer;
      text-decoration: none;
    }

    #section-dinning-intro2-content .content {
      color: var(--ui-on-bg);
      margin: var(--ui-spacing-xl);
      margin-bottom: var(--ui-spacing-3xl);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.7);
      padding: var(--ui-spacing-xl);
      border-radius: var(--ui-spacing-2xs);
    }

    #section-dinning-intro2-content .content span {
      color: inherit;
      font-family: var(--ui-font-family-display);
      text-align: justify;
    }

    #section-dinning-intro2-content .item-containter {
      aspect-ratio: 5/4;
    }

    @media (min-width: 768px) {
      #section-dinning-intro2-content .ui-w-full {
        width: max-content;
      }

      #section-dinning-intro2-content .content {
        flex-direction: row;
        align-items: flex-end;
        gap: var(--ui-spacing-10xl);
        opacity: 0;
        transition: opacity 0.6s ease;
      }

      #section-dinning-intro2-content .item-containter:hover .content {
        opacity: 1;
      }

      #section-dinning-intro2-content .left {
        height: 100%;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
      }

      #section-dinning-intro2-content .right {
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    }
  </style>

  <section id="section-dinning-intro2" class="ui-relative ui-w-full">
    <div class="bg"></div>

    <div id="section-dinning-intro2-content" class="ui-flex-col ui-w-full ui-w-max-breakpoint-2xl">
      <div class="left ui-gap-xl ui-flex-col">
        <h2 binding-name="Các chương trình đặc quyền Ưu tiên đẳng cấp">
          Các chương trình đặc quyền Ưu tiên đẳng cấp
        </h2>
        <div class="ui-w-full">
          <input type="radio" name="section-dinning-intro2-privilege-selected" id="section-dinning-intro2-privilege-all"
            class="ui-toggle-input" checked />
          <label for="section-dinning-intro2-privilege-all" class="ui-w-full ui-toggle-label ui-button-medium"
            binding-name="Tất cả">Tất cả</label>
          <input type="radio" name="section-dinning-intro2-privilege-selected"
            id="section-dinning-intro2-privilege-selected" class="ui-toggle-input" />
          <label for="section-dinning-intro2-privilege-selected" class="ui-w-full ui-toggle-label ui-button-medium"
            binding-name="Chương trình tặng món">Chương trình tặng món</label>
        </div>
      </div>
      <div class="right ui-gap-sm">
        <a repeat="product|param:categories.id:85bab2ca-72a8-3f2f-cd5d-3ef1e675f11e|sort:createdDate:desc"
          href="/{{languageCode}}/san-pham/{{friendlyUrl}}" type="1"
          class="item-containter ui-relative ui-col-justify-end">
          <div class="content ui-gap-xl ui-flex-col">
            <div class="ui-gap-xl ui-flex-col">
              <h4>{{name}}</h4>
            </div>
          </div>
          <div class="bg">
            <img src="https://static.izzi.asia{{images.path}}" alt="{{name}}" />
          </div>
        </a>
        <a repeat="product|param:categories.id:d295cfd7-4349-adb6-b39e-9fb10c7f8d7d|sort:createdDate:desc"
          href="/{{languageCode}}/san-pham/{{friendlyUrl}}" type="2"
          class="item-containter ui-relative ui-col-justify-end">
          <div class="content ui-gap-xl ui-flex-col">
            <div class="ui-gap-xl ui-flex-col">
              <h4>{{name}}</h4>
            </div>
          </div>
          <div class="bg">
            <img src="https://static.izzi.asia{{images.path}}" alt="{{name}}" />
          </div>
        </a>
      </div>
    </div>
  </section>
</div>