<div id="27667df2-fc55-d3e3-f70b-aebe45450640">
  <style>
    #section-dinning-hero .bg img {
      object-position: 55% center;
      filter: brightness(0.6);
    }

    #section-dinning-hero-content {
      min-height: 60dvh;
      padding: var(--ui-spacing-xl);
    }

    #section-dinning-hero-content > div {
      display: flex;
      flex-direction: column;
    }

    #section-dinning-hero {
      color: var(--ui-bg);
    }

    #section-dinning-hero-content h1 {
      font-size: var(--ui-font-size-h1) !important;
      text-align: center;
    }

    @media (min-width: 769px) {

      #section-dinning-hero-content {
        padding: var(--ui-spacing-15xl) var(--ui-spacing-xl);
      }

      #section-dinning-hero-content > div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      #section-dinning-hero-content h1 {
        font-size: var(--ui-spacing-11xl) !important;
      }
    }
  </style>

  <section id="section-dinning-hero" class="ui-relative">
    <div class="bg">
      <img
        binding-imgpath="https://static.izzi.asia/images/2026/6/8/2606086446_BannerDiningDetail.jpg"
        src="https://static.izzi.asia/images/2026/6/8/2606086446_BannerDiningDetail.jpg"
        alt="Hero Banner"
      />
    </div>

    <div
      id="section-dinning-hero-content"
      class="ui-col-justify-end ui-w-max-breakpoint-2xl ui-gap-xl"
    >
      <h1 binding-name="Hương vị tinh tế&lt;br/&gt; Trải nghiệm đỉnh cao">
        Hương vị tinh tế<br />
        Trải nghiệm đỉnh cao
      </h1>
    </div>
  </section>
</div>
