<div>
  <style>
    /* Segmented Control / Toggle Switch */
    .ui-toggle-input {
      display: none;
    }

    .ui-toggle-input:checked+.ui-toggle-label {
      color: var(--ui-primary, #a78072);
      border-bottom: 1px solid currentColor;
    }

    #section-intro2-content {
      padding: var(--ui-spacing-7xl) var(--ui-spacing-xl);
      gap: var(--ui-spacing-6xl);
    }

    #section-intro2-content .left {
      height: fit-content;
    }

    #section-intro2-content .right {
      position: relative;
      width: inherit;
      height: 100%;
      aspect-ratio: 5/7;
      max-height: 70dvh;
      overflow: visible;
    }

    #section-intro2-content .item-containter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--ui-spacing-2xs);
      overflow: hidden;
      transition: transform 2s cubic-bezier(0.16, 1, 0.3, 1), opacity 0.6s ease, filter 2s cubic-bezier(0.16, 1, 0.3, 1);
      will-change: transform, opacity, filter;
    }

    #section-intro2-content .content {
      color: var(--ui-bg);
      margin: var(--ui-spacing-xl);
      margin-bottom: var(--ui-spacing-3xl);
      background: var(--ui-bg-overlay);
      padding: var(--ui-spacing-xl);
      border-radius: var(--ui-spacing-2xs);
    }

    #section-intro2-content .content>p {
      color: inherit;
      font-family: var(--ui-font-family-display);
      text-align: justify;
    }


    @media (min-width: 768px) {
      #section-intro2-content .ui-w-full {
        width: fit-content;
      }

      #section-intro2-content .left {
        height: 100%;
        justify-content: space-between;
      }

      #section-intro2-content .right {
        aspect-ratio: 16/9;
        max-width: 50vw;
        max-height: unset;
      }
    }
  </style>

  <section id="section-intro2" class="ui-relative ui-w-full">
    <div class="bg"></div>

    <div id="section-intro2-content" class="ui-col2-grid ui-w-full">
      <div class="left ui-gap-xl ui-flex-col">
        <div class="ui-flex-col ui-gap-xl">
          <h2 binding-header-lv2="Các chương trình đặc quyền Ưu tiên đẳng cấp">
            Các chương trình đặc quyền Ưu tiên đẳng cấp
          </h2>
          <div class="ui-row-v-center ui-w-full">
            <input type="radio" name="section-intro2-privilege-selected" id="section-intro2-privilege-selected-1"
              class="ui-toggle-input" checked />
            <label for="section-intro2-privilege-selected-1" class="ui-w-full ui-toggle-label ui-button-medium">UOB
              Privilege</label>
            <input type="radio" name="section-intro2-privilege-selected" id="section-intro2-privilege-selected-2"
              class="ui-toggle-input" />
            <label for="section-intro2-privilege-selected-2" class="ui-w-full ui-toggle-label ui-button-medium">UOB
              Dinning</label>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="item-containter ui-relative ui-col-justify-end ">
          <div class="content ui-gap-xl ui-flex-col">
            <h2 binding-name="UOB Privilege">UOB Privilege</h2>
            <p
              binding-description="Khám phá tuyển chọn các dịch vụ phong cách sống cao cấp, mang đến sự tiện nghi trong từng trải nghiệm. Từ phút giây thư giãn tinh tế đến quy trình sân bay thông suốt, mọi đặc quyền đều được thiết kế dành riêng cho khách hàng Privilege.">
              Khám phá tuyển chọn các dịch vụ phong cách sống cao cấp, mang đến sự tiện nghi trong từng trải nghiệm. Từ
              phút giây thư giãn tinh tế đến quy trình sân bay thông suốt, mọi đặc quyền đều được thiết kế dành riêng
              cho khách hàng Privilege.
            </p>
            <a binding-btnhref="#" href="" class="ui-button-medium ui-button-primary">
              <p binding-btntext="Khám phá ngay">Khám phá ngay</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_424_816)">
                  <path
                    d="M14.3331 0H5.99976V2H12.5858L0.0170898 14.5687L1.43109 15.9827L13.9998 3.414V10H15.9998V1.66667C15.9998 0.748 15.2524 0 14.3331 0Z"
                    fill="currentColor" />
                </g>
                <defs>
                  <clipPath id="clip0_424_816">
                    <rect width="16" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
          <div class="bg">
            <img src="/assets/img/UOB Dinning.png" alt="" />
          </div>
        </div>
        <div class="item-containter ui-relative ui-col-justify-end ">
          <div class="content ui-gap-xl ui-flex-col">
            <h2 binding-name="UOB Dinning">UOB Dinning</h2>
            <p
              binding-description="Khám phá tuyển chọn các dịch vụ phong cách sống cao cấp, mang đến sự tiện nghi trong từng trải nghiệm. Từ phút giây thư giãn tinh tế đến quy trình sân bay thông suốt, mọi đặc quyền đều được thiết kế dành riêng cho khách hàng Dinning.">
              Khám phá tuyển chọn các dịch vụ phong cách sống cao cấp, mang đến sự tiện nghi trong từng trải nghiệm. Từ
              phút giây thư giãn tinh tế đến quy trình sân bay thông suốt, mọi đặc quyền đều được thiết kế dành riêng
              cho khách hàng Dinning.
            </p>
            <a binding-btnhref="#" href="" class="ui-button-medium ui-button-primary">
              <p binding-btntext="Khám phá ngay">Khám phá ngay</p>
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_424_816)">
                  <path
                    d="M14.3331 0H5.99976V2H12.5858L0.0170898 14.5687L1.43109 15.9827L13.9998 3.414V10H15.9998V1.66667C15.9998 0.748 15.2524 0 14.3331 0Z"
                    fill="currentColor" />
                </g>
                <defs>
                  <clipPath id="clip0_424_816">
                    <rect width="16" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
          <div class="bg">
            <img src="/assets/img/UOB Dinning.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>