<div id="7a6914e8-4dc5-50e1-59e2-32a2cdb897cf">
  <style>
    #section-intro1 .bg {
      background-color: #f1f2f5;
    }

    #section-intro1 .bg img {
      transform: scaleX(-1);
      object-position: top left;
    }

    #section-intro1 * {
      font-family: var(--ui-font-family-display);
    }

    #section-intro1-content {
      padding: var(--ui-spacing-11xl) var(--ui-spacing-xl);
      gap: var(--ui-spacing-6xl);
    }

    #section-intro1-content .left {
      height: fit-content;
    }

    #section-intro1-content .right {
      width: inherit;
      aspect-ratio: 1;
      height: auto;
    }

    #section-intro1-content .right img {
      width: 100%;
      height: 100%;
    }

    @media (min-width: 768px) {
      #section-intro1 .bg img {
        transform: unset;
      }

      #section-intro1-content .left {
        height: 100%;
        justify-content: space-between;
      }

      #section-intro1-content .right {
        aspect-ratio: 16/9;
        max-width: 50vw;
      }
    }
  </style>

  <section id="section-intro1" class="ui-relative ui-w-full">
    <div class="bg">
      <img binding-imgpath="https://static.izzi.asia/images/2026/6/8/2606088690_Pattern.png" src="https://static.izzi.asia/images/2026/6/8/2606088690_Pattern.png" alt="">
    </div>

    <div id="section-intro1-content" class="ui-col2-grid ui-w-full ui-w-max-breakpoint-2xl">
      <div class="left ui-gap-xl ui-flex-col">
        <div class="ui-flex-col ui-gap-xl">
          <h2 binding-header-lv2="Thế giới đặc quyền dành riêng cho bạn">
            Thế giới đặc quyền dành riêng cho bạn
          </h2>
          <p class="ui-text-justify" binding-description="            Nơi những trải nghiệm đẳng cấp, dịch vụ tận tâm và đặc quyền dành            riêng được mang đến để nâng tầm phong cách sống của bạn.          ">            Nơi những trải nghiệm đẳng cấp, dịch vụ tận tâm và đặc quyền dành            riêng được mang đến để nâng tầm phong cách sống của bạn.          </p>
        </div>
      </div>
      <div class="right">
        <img binding-imgpath="https://static.izzi.asia/images/2026/6/8/2606086172_60af19d6c35e31475d928212a7ced2e519777c39.jpg" src="https://static.izzi.asia/images/2026/6/8/2606086172_60af19d6c35e31475d928212a7ced2e519777c39.jpg" alt="">
      </div>
    </div>
  </section>
</div>