<div>
  <style>
    #section-intro1 .bg img {
      transform: scaleX(-1);
      object-position: top left;
    }

    #section-intro1 * {
      font-family: var(--ui-font-family-display);
    }

    #section-intro1-content {
      padding: var(--ui-spacing-7xl) var(--ui-spacing-xl);
      gap: var(--ui-spacing-6xl);
    }

    #section-intro1-content .left {
      height: fit-content;
    }

    #section-intro1-content .right {
      width: inherit;
      aspect-ratio: 1;
      height: auto;
    }

    #section-intro1-content .right img {
      width: 100%;
      height: 100%;
    }

    @media (min-width: 768px) {
      #section-intro1 .bg img {
        transform: unset;
      }

      #section-intro1-content {
      }

      #section-intro1-content .left {
        height: 100%;
        justify-content: space-between;
      }

      #section-intro1-content .right {
        aspect-ratio: 16/9;
        max-width: 50vw;
      }
    }
  </style>

  <section id="section-intro1" class="ui-relative ui-w100">
    <div class="bg">
      <img src="/assets/img/Pattern.png" alt="" />
    </div>

    <div id="section-intro1-content" class="ui-col2-grid ui-w100">
      <div class="left ui-gap-xl ui-flex-col">
        <div class="ui-flex-col ui-gap-xl">
          <h2 binding-header-lv2="Thế giới đặc quyền dành riêng cho bạn">
            Thế giới đặc quyền dành riêng cho bạn
          </h2>
          <p
            class="text-justify"
            binding-description="Trải nghiệm Dịch vụ Ngân hàng Ưu tiên đẳng cấp từ UOB với đội ngũ Cố Vấn Tài Chính Cá Nhân giàu kinh nghiệm, luôn hỗ trợ sự thịnh vượng của Quý khách và tận hưởng đặc quyền trải nghiệm, dịch vụ trợ lý cao cấp dành riêng cho Quý khách và gia đình."
          >
            Trải nghiệm Dịch vụ Ngân hàng Ưu tiên đẳng cấp từ UOB với đội ngũ Cố
            Vấn Tài Chính Cá Nhân giàu kinh nghiệm, luôn hỗ trợ sự thịnh vượng
            của Quý khách và tận hưởng đặc quyền trải nghiệm, dịch vụ trợ lý cao
            cấp dành riêng cho Quý khách và gia đình.
          </p>
        </div>
        <!-- icon -->
        <svg
          width="48"
          height="48"
          viewBox="0 0 48 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_424_2079)">
            <path
              d="M42.9998 48H17.9998V42H37.7578L0.0517578 4.29399L4.29376 0.0519943L41.9998 37.758V18H47.9998V43C47.9998 45.756 45.7578 48 42.9998 48Z"
              fill="black"
              fill-opacity="0.1"
            />
          </g>
          <defs>
            <clipPath id="clip0_424_2079">
              <rect
                width="48"
                height="48"
                fill="white"
                transform="matrix(1 0 0 -1 0 48)"
              />
            </clipPath>
          </defs>
        </svg>
        <!-- end icon -->
      </div>
      <div class="right"><img src="/assets/img/UOB Dinning.png" alt="" /></div>
    </div>
  </section>
</div>
