<div id="3f40d6ae-eb73-5f1f-b4ad-e38455fcdf0a">
  <style>
    #section-privile-intro3 .bg {
      background-color: #f1f2f5;
    }

    #section-privile-intro3 .bg img {
      transform: scaleX(-1);
      object-position: top left;
    }

    #section-privile-intro3-content {
      padding: var(--ui-spacing-11xl) var(--ui-spacing-xl);
      gap: var(--ui-spacing-6xl);
    }

    #section-privile-intro3-content .left {
      height: fit-content;
    }

    #section-privile-intro3-content .left ul {
      background-color: rgba(255, 255, 255, 0.7);
      padding: var(--ui-spacing-2xl);
      padding-left: var(--ui-spacing-3xl);
    }

    #section-privile-intro3-content .left ul li {
      list-style-type: "- ";
    }

    #section-privile-intro3-content .right {
      width: inherit;
      aspect-ratio: 1;
      height: auto;
    }

    #section-privile-intro3-content .right img {
      width: 100%;
      height: 100%;
    }

    @media (min-width: 768px) {
      #section-privile-intro3 .bg img {
        transform: unset;
      }

      #section-privile-intro3-content .left {
        height: 100%;
        justify-content: space-between;
      }

      #section-privile-intro3-content .right {
        aspect-ratio: unset;
        max-width: 50vw;
      }
    }
  </style>

  <section id="section-privile-intro3" class="ui-relative ui-w-full">
    <div class="bg">
      <img
        binding-imgpath="https://static.izzi.asia/images/2026/6/8/2606088690_Pattern.png"
        src="https://static.izzi.asia/images/2026/6/8/2606088690_Pattern.png"
        alt=""
      />
    </div>

    <div
      id="section-privile-intro3-content"
      class="ui-col2-grid ui-w-full ui-w-max-breakpoint-2xl"
    >
      <div class="left ui-gap-xl ui-flex-col">
        <div class="ui-flex-col ui-gap-xl">
          <h2 binding-header-lv2="Điều khoản &amp; Điều kiện chương trình">
            Điều khoản &amp; Điều kiện chương trình
          </h2>
          <ul class="ui-flex-col ui-gap-lg">
            <li
              binding-subdescription="              Khách hàng có thể đặt đặc quyền qua tổng đài 24/7, email hoặc Cổng              giao tiếp điện tử dành riêng cho khách hàng UOB Privilege của              chương trình            "
            >
              Khách hàng có thể đặt đặc quyền qua tổng đài 24/7, email hoặc Cổng
              giao tiếp điện tử dành riêng cho khách hàng UOB Privilege của
              chương trình
            </li>
            <li
              binding-subdescription="              Khách hàng liên hệ để đặt lịch trước ít nhất 24 giờ trước khi sử              dụng dịch vụ.            "
            >
              Khách hàng liên hệ để đặt lịch trước ít nhất 24 giờ trước khi sử
              dụng dịch vụ.
            </li>
            <li
              binding-subdescription="              Khách hàng có nhu cầu thay đổi/hủy dịch vụ cần liên hệ trước ít              nhất 12 giờ qua tổng đài 24/7 trước khi sử dụng dịch vụ. Bất kỳ              thay đổi hay việc hủy trong vòng 12 giờ trước giờ sử dụng dịch vụ              hoặc khách hàng không đến sẽ được tính là khách hàng đã sử dụng              đặc quyền.            "
            >
              Khách hàng có nhu cầu thay đổi/hủy dịch vụ cần liên hệ trước ít
              nhất 12 giờ qua tổng đài 24/7 trước khi sử dụng dịch vụ. Bất kỳ
              thay đổi hay việc hủy trong vòng 12 giờ trước giờ sử dụng dịch vụ
              hoặc khách hàng không đến sẽ được tính là khách hàng đã sử dụng
              đặc quyền.
            </li>
            <li
              binding-subdescription="              Không áp dụng vào các ngày Lễ Tết, tình trạng đặt bàn tùy theo              tình trạng bàn trống của nhà cung ứng và việc sử dụng không muộn              hơn ngày 31/12 hàng năm.            "
            >
              Không áp dụng vào các ngày Lễ Tết, tình trạng đặt bàn tùy theo
              tình trạng bàn trống của nhà cung ứng và việc sử dụng không muộn
              hơn ngày 31/12 hàng năm.
            </li>
          </ul>
        </div>
      </div>
      <div class="right">
        <img
          binding-imgpath="https://static.izzi.asia/images/2026/6/8/2606081954_183243e27a89e84ac7cc440e2bbc13bcb0c3750c.jpg"
          src="https://static.izzi.asia/images/2026/6/8/2606081954_183243e27a89e84ac7cc440e2bbc13bcb0c3750c.jpg"
          alt=""
        />
      </div>
    </div>
  </section>
</div>
